* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-rodape {
    bottom: 0;
    position: fixed;
    text-align: center;
    background-color: #f5f5f7;
    padding: 3%;
}
footer {
    display: flex;
    flex-direction: column;
    
    width: 70%;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    font-weight: 500;
}

p {
    margin-top: 2%;
}