* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

footer {
    display: flex;
    flex-direction: column;

    justify-content: center;
    text-align: center;
    align-items: center;
    
    width: 70%;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    font-weight: 500;
}

