.conteudo-cabecalho {
    margin: 2%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.conteudo-cabecalho h1{
    font-size: 55px;
    font-weight: 600;
}
.conteudo-cabecalho h3{
    font-size: 25px;
    font-weight:400;
}
.conteudo-cabecalho ul{
    margin: 1%;
}
.conteudo-cabecalho a {
    font-size: 20px;
    font-weight: 500;
    color: #2296c4;
    text-decoration: none;
}
.conteudo-cabecalho img {
    margin-bottom: 20px;
}
