.container-manu {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin-top: -10%;
}

.container-manu img {
    width: 180%; 
    max-width: 300%; 
    height: auto; 
}